body {
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    margin: auto;
    max-width: 1170px;
    padding: 10px;
}
#header {
    width: 100% !important;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
        
}
#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 33px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}
.menu-list a {
        padding: 0 8px 0px 8px;
        text-decoration: none;
        display: inline-block;
        color: #000;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        outline: none;
    }
    ul li{
        display: inline-block;
        margin-left: 15px;
        }
        .menu-list{
            padding-bottom: 10px;
    padding-top: 10px;
        }
        .menu-list{
              position: relative;
                white-space: nowrap;
                }
                .menu-list a:hover{
                    background-color: #bd9c6c;
                    color: white;
                    transition: all 0.3s ease;
                    }
                    .logo{
                        margin-top: 30px;
                        width: 290px;
                        margin-left: 60px;

                    }
                    .background{
                      width: 100%;
                      height: 480px;
                      object-fit: cover;
                      filter: brightness(45%); 
                    }
                    #text-size{
                        text-align: center;
                        font-size: 36px;
                        font-family: "poppin" , sans-serif;
                        font-weight: 800;
                        position: relative;
                        margin-top:-20% ;
                        color: white;
                        
                      }
                      .resources-section {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        padding: 20px;
                        margin-top: 14%;
                                      }
                    
                    .resource-item {
                        position: relative;
                        width: 300px;
                        margin: 20px;
                    }
                    
                    .resource-item img {
                        width: 100%;
                        height: auto;
                        border-radius: 8px;
                        display: block;
                    }
                    
                                     
                    footer {
                        margin-top: 20px;
                    }
                    .text2{
                        font-size: 20px;
                        font-weight: bold;
                        color: black;
                    }
                    .footer{
                        text-align: center;
                    }